.after-sign-up {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  padding: 40px;
}
.after-sign-up_content {
  margin: 0 auto;
  width: 574px;
  background-color: white;
}
.after-sign-up_content_box {
  margin: 8px 16px 32px;
  padding: 32px 64px;
}
.after-sign-up_content_box_message {
  text-align: center;
  font-weight: bold;
  margin: 0 0 16px;
  padding: 16px;
  font-size: 18px;
}
.after-sign-up_content_box_image {
  margin: 0 auto 32px;
  background-image: url(okay.svg);
  background-size: contain;
  height: 150px;
  width: 150px;
}
.after-sign-up_content_box_p {
  font-size: 14px;
  text-align: center;
}
