.c__container {
  background-color: #f8f8f8;
}
.c__container .c__container__logo {
  padding-top: 30px;
  margin: 0 auto;
  width: 170px;
}
.c__container .c__container__confirm {
  background-color: #fff;
  margin: 20px auto;
  width: 58%;
  padding-top: 20px;
}
.c__container .c__container__confirm__title {
  padding-bottom: 20px;
  border-bottom: solid 1px #eee;
}
.c__container .c__container__confirm__title .message {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
.c__container .c__container__confirm--upper {
  padding-bottom: 5px;
  border-bottom: solid 1px #eee;
}
.c__container .c__container__confirm--upper__flex__content {
  display: flex;
  width: 60%;
  margin: 20px auto;
}
.c__container .c__container__confirm--upper__flex__content__list {
  margin-left: 15px;
}
.c__container .c__container__confirm--upper__flex__content__list .item__price {
  font-weight: bold;
  margin-top: 10px;
}
.c__container .c__container__confirm--row {
  padding-bottom: 100px;
  border-bottom: solid 1px #eee;
}
.c__container .c__container__confirm--row__price {
  width: 60%;
  margin: 30px auto;
  padding-bottom: 15px;
  border-bottom: solid 1px #eee;
}
.c__container .c__container__confirm--row__price--flex {
  display: flex;
  justify-content: space-between;
}
.c__container .c__container__confirm--row__price--flex .message {
  font-weight: bold;
  font-size: 15px;
}
.c__container .c__container__confirm--row__price--flex .price__box {
  font-weight: bold;
  font-size: 25px;
}
.c__container .c__container__confirm--row__payment {
  width: 60%;
  margin: 20px auto;
  padding-bottom: 15px;
  border-bottom: solid 1px #eee;
}
.c__container .c__container__confirm--row__payment .message {
  font-weight: bold;
  font-size: 15px;
}
.c__container .c__container__confirm--row__address {
  width: 60%;
  margin: 20px auto;
  padding-bottom: 15px;
  border-bottom: solid 1px #eee;
}
.c__container .c__container__confirm--row__address .message {
  color: red;
  font-weight: bold;
}
.c__container .c__container__confirm--row__address .address {
  margin-top: 10px;
}
.c__container .c__container__confirm--row__submit {
  width: 60%;
  margin: 20px auto;
  text-align: center;
}
.c__container .c__container__confirm--row__submit p {
  font-size: 15px;
  color: red;
}
.c__container .c__container__confirm--row__submit .button {
  margin-top: 15px;
  width: 350px;
  background-color: #3ccace;
  color: #fff;
  height: 50px;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  font-weight: bold;
}
.c__container .c__end__logo__container {
  background-color: #f8f8f8;
  height: 150px;
  width: 100%;
}
.c__container .c__end__logo__container__end__logo {
  padding-top: 25px;
  width: 60%;
  margin: 0 auto;
  width: 170px;
}
.c__container .c__end__logo__container__end__logo p {
  text-align: center;
}
