.d-main{
  width: 100vw;
  height: 100%;
  background-color: #f8f8f8;
}
  
.d-showMain{
  margin: 0 auto;
  width: 700px;
  padding-top: 40px;
}

.d-itemBox {
  padding: 24px 40px 40px;
  background-color: #ffffff;

  &__name {
    font-size: 24px;
    text-align: center;
  }
  
  &__body {
    margin: 16px 0 0;
    .firstImage {
      position: relative;
    }
    &--triangle {
      position: absolute;
      top: 0;
      left: 30px;
      border-bottom: 150px solid transparent;
      border-left: 150px solid red;
    }
    &__soldout {
      transform: rotate(-45deg);
      position: absolute;
      top: 30px;
      left: 35px;
      color: #ffffff;
      font-weight: bold;
      font-size: 30px;
    }
    ul {
      display: flex;
      position: relative;
      li {
        display: flex;
        width: 560px;
        align-items: center;
        margin: 0 auto;
        flex-direction: column;
        img {
          width: 100%;
          object-fit: cover;
          height: 346px;
        }
        ul {
          display: flex;
          justify-content: center;
          margin-top: 10px;
          li {
            width: 75%;
            margin: 0 10px 0 0;
            img {
              object-fit: cover;
              height: 87px;
            }
          }
        }
      }
    }
  }

  &__price {
    margin: 24px 0 24px;
    font-size: 46px;
    text-align: center;
  }

  &__price-detail {
    font-size: 16px;
  }

  .d-itemDetail {
    font-size: 18px;
    margin-bottom: 30px;
    p {
      word-break: break-all;
    }
  }
  
  .d-table {
    margin-bottom: 20px;
    font-size: 14px;
    table {
      display: table;
      width: 100%;
      border-collapse: collapse; 
      tbody {
        tr {
          border: 1px solid #dedede;
          th {
            background-color: #EEEEEE;
            width: 135px;
            padding: 8px;
            text-align: center;
          }
          td {
            padding: 15px;
          }
        }
      }
    }
    &--blue{
      color: #3CCACE;
    }
  }
  .d-optonalArea {
    display: flex;
    justify-content: space-between;

      ul {
        .d-likeBtn {
          color: #3CCACE;
          font-size: 16px;
          border: 1px solid #ffb340;
          padding: 6px 10px;
          border-radius: 40px;
        }
      }
      .d-optional {
        margin: 10px 0 0;
        li {
          font-size: 14px;
          a {
            padding: 6px 10px;
            border: 1px solid #333;
            border-radius: 4px;
            text-decoration: none;
            color: #333;
            display: inline-block;
          }
        }
      }
  }
}

.d-optionalBtn:hover{
  opacity: 0.5;
}
.d-likeBtn:hover{
  opacity: 0.5;
}


.d-itemChangeBox {
  padding: 24px 40px 40px;
  text-align: center;
  background-color: #ffffff;
  
  &__btnList {
    &__editBtn{
      background-color: #3CCACE;
      border: 1px solid #3CCACE;
      color: #fff;
    }
    &__deleteBtn {
      background-color: grey;
      border: 1px solid grey;
    }
    &__buyBtn {
      cursor: pointer;
      background-color: #3CCACE;
      border: 1px solid #3CCACE;
      color: #fff;
    }
    &__soldOutNotice{
      background-color: #3CCACE;
      color: #fff;
      margin: 16px 0px;
      height: 53px;
      line-height: 53px;
    }
    button {
      width: 100%;
      font-size: 16px;
      line-height: 48px;
      margin: 16px 0;
    }
    #d-edit {
      background-color: #3CCACE;
      border: 1px solid #3CCACE;
      color: #fff;
      width: 100%;
      font-size: 16px;
      line-height: 48px;
      margin: 16px 0;
      cursor: pointer;
    }
    input {
      background-color: grey;
      border: 1px solid grey;
      width: 100%;
      font-size: 16px;
      line-height: 48px;
      margin: 16px 0;
      cursor: pointer;
    }
  }
 
}


.d-commentBox {
  margin: 10px 0;
  padding: 24px;
  text-align: center;
  background-color: #ffffff;
  &__list {
    display: flex;
    margin-bottom: 20px;
    i {
      font-size: 45px;
      color: #3CCACE;
      margin-top: 25px;
    }
    &__content {
      width: 100%;
      margin-left: 20px;
      
      &__name {
        text-align: left;
        font-size: 14px;
      }
      &__message {
        border-radius: 5px;
        text-align: left;
        position: relative;
        padding: 22px;
        background-color: #3CCACE;
        border-radius: 10px;
        word-break: break-all;
      }
      &__message::before {
        content: '';
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-radius: 50%;
        transform: rotate(45deg);
        top: 20px;
        left: -15px;
        border-bottom: 20px solid #3CCACE;
        border-left: 20px solid #3CCACE;
        border-top: 20px solid transparent;
        border-right: 20px solid transparent;
      }
      &__message::after {
        content: '';
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-radius: 50%;
        transform: rotate(45deg);
        top: 10px;
        left: -20px;
        border-bottom: 20px solid #ffffff;
        border-left: 20px solid #ffffff;
        border-top: 20px solid transparent;
        border-right: 20px solid transparent;
      }
    }
  }
  textarea {
    width: 100%;
    height: 104px;
  }

  p {
    font-size: 14px;
    
    text-align: left;
  }
  .d-noticeMsg {
    padding: 8px;
    margin: 10px 0;
    background-color: #f8f8f8;
  }
  .d-commentBtn {
    background: #3CCACE;
    line-height: 48px;
    color: #fff;
    font-size: 18px;
    border-radius: 100px;
    width: 60%;
    border: 1px solid #3CCACE;
  }
}

.d-links {
  font-size: 16px;
  list-style: none;
  li {
    display: inline;
    a{
      color: #3CCACE;
      text-decoration: none;
    }
  }
  li:last-child {
    float: right;
  }
}

.d-relatedItems {
  margin: 24px 0 8px 0;
  font-size: 22px;
  a {
    text-decoration: none;
    color: #3CCACE;
  }
}
