.n__container {
  background-color: #f8f8f8;
  .n__logo {
    padding-top: 30px;
    margin:0 auto;
    width: 170px;
  }
  .n__form__container {
    background-color: #fff;
    margin:30px auto;
    width: 58%;
    padding-top: 20px;
    .n__image__container {
      padding-bottom: 20px;
      border-bottom: solid 1px #eee;
      .message {
        margin-top: 15px;
        margin-left: 25px
      }
      .post__drop__box__container{
        display: block;
        margin: 16px 18px 0;
        display: flex;
        flex-wrap: wrap;
        .prev-content {
          display: flex;
          .preview-box {
            height: 162px;
            width: 120px;
            margin: 0 15px 10px 0;
            .upper-box {
              height: 112px;
              width: 100%;
              img {
                width: 120px;
                height: 112px;
              }
            }
            .lower-box {
              display: flex;
              text-align: center;
              .update-box {
                color: #00b0ff;
                width: 50%;
                height: 50%;
                line-height: 50px;
                border: 1px solid #eee; 
                background-color: #f5f5f5;
                cursor: pointer;               
              }
              .delete-box {
                color: #00b0ff;
                width: 100%;
                height: 50%;
                line-height: 50px;
                border: 1px solid #eee; 
                background-color: #f5f5f5;
                cursor: pointer;
              }
            }
          }
        }
        .label-content{
          margin-bottom: 10px;
          width: 770px;
          .label-box {
            display: block;
            border: 1px dashed #ccc;
            position: relative;
            background: #f5f5f5;
            width: 100%;
            height: 162px;
            cursor: pointer;
            &__text-visible {
              position: absolute;
              top: 50%;
              left: 16px;
              right: 16px;
              text-align: center;
              font-size: 14px;
              line-height: 1.5;
              font-weight: bold;
              -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%);
              pointer-events: none;
              white-space: pre-wrap;
              word-wrap: break-word;
            }
          }
        }
        .hidden-content {
          .hidden-field {
            display: none;
          }
          .hidden-checkbox {
            display: none;
          }
        }
      }
    }
    .n__item__container {
      margin-top: 30px;
      padding-bottom: 50px;
      border-bottom: solid 1px #eee;
      .message {
        margin-top: 20px;
        margin-left: 25px
      }
      .name-box {
        width: 95%;
        height: 50px;
        margin-top: 10px;
        margin-left: 25px;
        padding: 5px;
      }
      .description-box {
        width: 95%;
        height: 120px;
        margin-top: 10px;
        margin-left: 25px;
        padding: 5px;
      }
    }
    .n__details__container {
      margin-top: 30px;
      padding-bottom: 50px;
      border-bottom: solid 1px #eee;
      .message {
        margin-top: 20px;
        margin-left: 25px
      }
      .select-box {
        width: 95%;
        height: 50px;
        margin-top: 10px;
        margin-left: 25px;
        padding: 5px;
      }
      .sell__item-category {
        width: 95%;
        height: 50px;
        margin-top: 10px;
        margin-left: 25px;
        padding: 5px;
      }
    }
    .n__post__container {
      margin-top: 30px;
      padding-bottom: 50px;
      border-bottom: solid 1px #eee;
      .message {
        margin-top: 20px;
        margin-left: 25px
      }
      .select-box {
        width: 95%;
        height: 50px;
        margin-top: 10px;
        margin-left: 25px;
        padding: 5px;
      }
    }
    .n__price__container {
      margin-top: 30px;
      padding-bottom: 50px;
      border-bottom: solid 1px #eee;
      .message {
        margin-top: 20px;
        margin-left: 25px;
      }
      .content-flex {
        display: flex;
        justify-content: space-between;
        .message {
          margin-top: 20px;
          margin-left: 25px;
        }
        .price {
          margin-right: 20px;
          .price-box {
            width: 250px;
            height: 50px;
            text-align: right;
          }
        }
      }
    }
    .n__submit__container {
      margin-top: 30px;
      padding-bottom: 50px;
      border-bottom: solid 1px #eee;
      .button {
        text-align: center;
        margin-bottom: 10px;
        .exhibition {
          width: 350px;
          background-color:#3ccAce;
          color: #fff;
          height: 50px;
          text-align: center;
          font-size: 20px;
          border-radius: 5px;
          font-weight: bold;
        }
      }
      .back {
        text-align: center;
        a {
          text-decoration: none;
          color: #3ccAca;
          text-align: center;
        }
      }
    }
    .n__attention__container {
      margin-top: 30px;
      margin-bottom: 30px;
      
      .message {
        color: black;
        font-size: 13px;
        padding: 5px;
      }
    }
  }
  .n__end__logo__container {
    background-color: #f8f8f8;
    height: 150px;
    &__end__logo {
      padding-top: 25px;
      margin:0 auto;
      width: 170px;
      p {
        text-align: center;
      }
    }
  }
}