.p-wrapper {
  background-color: whitesmoke;
}
.p-wrapper .p-sign_up_main {
  background-color: #ffffff;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic",
    "メイリオ", "Meiryo", sans-serif;
  margin: 0 auto;
  width: 700px;
}
.p-wrapper .p-sign_up_main_content {
  font-size: 22px;
  font-weight: bold;
  padding: 32px;
  line-height: 33px;
  text-align: center;
  border-bottom: #eee solid 1px;
}
.p-wrapper .p-card_input {
  height: 630px;
  width: 700px;
  margin: 0 auto;
  background-color: #fff;
}
.p-wrapper .p-card_input_form {
  padding: 40px 40px 64px;
  border-top: 1px solid #f5f5f5;
}
.p-wrapper .p-card_input_form_container {
  max-width: 343px;
  margin: 0 auto;
}
.p-wrapper .p-card_input_form_container_group {
  margin: 0 0 40px;
}
.p-wrapper .p-card_input_form_container_group_label {
  font-weight: 600;
}
.p-wrapper .p-card_input_form_container_group_label_span {
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
.p-wrapper .p-card_input_form_container_group_input {
  width: 100%;
  margin: 8px 0 0;
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}
.p-wrapper .p-card_input_form_container_group_ul {
  margin: 8px 0 0;
  font-size: 0;
  display: flex;
}
.p-wrapper .p-card_input_form_container_group_ul_li {
  margin-left: 8px;
}
.p-wrapper .p-card_input_form_container_group {
  margin: 0 0 40px;
}
.p-wrapper .p-card_input_form_container_group_wrap_half {
  display: inline-block;
  width: 45%;
  margin: 8px 0 0;
  position: relative;
  background: #fff;
}
.p-wrapper .p-card_input_form_container_group_wrap_half_month {
  width: calc(100% - 38px);
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}
.p-wrapper .p-card_input_form_container_group_wrap_half_year {
  width: calc(100% - 38px);
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}
.p-wrapper .p-card_input_form_container_group {
  margin: 0 0 40px;
}
.p-wrapper .p-card_input_form_container_submit {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 100%;
  margin: 8px 0 0;
  height: 48px;
  padding: 10px 16px 8px;
  line-height: 1.5;
  font-size: 16px;
}
.p-wrapper .p-card_input_form_container_back {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  width: 100%;
  margin: 8px 0 0;
  height: 48px;
  padding: 10px 16px 8px;
  line-height: 1.5;
  font-size: 16px;
  display: block;
  text-align: center;
}
