* {
  box-sizing: border-box;
  .t__main{
    max-width: 100vw;
    width: 100%;
    height: 100%;
    .t__head__bar{
      width: 1100px;
      height: 110px;
      background-color: yellow;
      margin: 0 auto;
      &__box{
        width: 100%;
        height: 70px;
        background-color:white;
        padding: 15px 30px;
        display: flex;
        &-logo{
          width: 200px;
          height: 100%; 
          float: left;
          color: white;
          text-align: center;
          background-repeat: no-repeat;
        }
        &-text-box{
          width: calc(100% - 240px);
          height: 100%;
          border: gray solid 0.5px;
          padding: 10px;
          &-btn{
            width: 40px;
            height: 100%;
            padding: 9px;
            background-color: #3CCACE; 
            float: right;
            border: gray solid 0;
            cursor: pointer;
            &-icon{
              position: absolute;
              color: darkgray;
            }
          }
        }
      }
      .t__head__bar__search{
        width: 100%;
        height: calc(100% - 70px);
        background-color: white;
        display: flex;
        font-size: 14px;
        padding: 0 30px;
        color: #333;
        &__box{
          background-color:white;
          position: relative;
          display: flex;
          width: 180px;
          margin-left: 30px;
          justify-content: space-between;
          #categoryBtn{
            text-decoration: none;
            height: 20px;
            color: #333;
            width: 70px;
            :hover{color: orange;}
            .t__head__bar__search__box-category{}
          }
        }
          #brandBtn{
            text-decoration: none;
            height: 20px;
            color: #333;
            :hover{color: orange;}
            .t__head__bar__search__box-brand{}
          }
          &__select{
            width: 180px;
            display: flex;
            margin-left: auto;
            background-color: white;
            height: 100%;
            #logBtn{
              text-decoration: none;
              height: 20px;
              color: #333;
              width: 60px;
              :hover{color: orange;}
              .t__head__bar__search__select-login{}
            }
            #newBtn{
              text-decoration: none;
              height: 20px;
              color: #333;
              width: 90px;
              margin-left: 30px;
              :hover{color: orange;}
              .t__head__bar__search__select-new{}
            }
          }
      }
    }
  }
  .t__center{
    width: 100%;
    height: 560px;
    background-color: white;
    &__image{
      background-image: url(bg-mainVisual-pict_pc.jpg);
      width: 100%;
      height: 560px;
      background-position: top center;
      position: relative;
      display: flex;
      padding: 0 60px;
      background-repeat: no-repeat;
      background-size: cover;
      justify-content: center;
      align-items: center;
      &__content{
        width: 100%;
        height: 400px;
        margin: 0 20px;
        padding-top: 130px;
        h2{
            text-shadow: 0 0 5px rgba(0,0,0,0.4);
            font-size: 60px;
            color: #fff;
        }
        p{
          text-shadow:0 0 5px rgba(0,0,0,0.4);
          font-size: 18px;
        }
        &-icon{
          display: flex;
          .t__center__image__content-icon-app{
            width: 180px;
            padding: 0;
            float: left;
            #aBtn{
              :hover{opacity: 0.5;}
              .apple{
                margin-top: 25px;
                width: 100%;
                padding: 0;
                border-radius: 10px;
              }
            }
          }
          
          .t__center__image__content-icon-google{
            width: 180px;
            padding: 0;
            #gBtn{
              :hover{opacity: 0.5;}
              .google{
                margin: 25px 0 0 10px;
                width: 100%;
                padding: 0;
                border-radius: 10px;
              }
            }
          }
        }
      }
    }
  }
  .t__center__middle{
    padding: 60px 20px;
    .t__center__middle__title-text{
      text-align: center;
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      color: black;
    }
    &__content{
      text-align: center;
      display: flex;
      max-width: 1020px;
      margin: 0 auto;
      &__box{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__image{
          position: relative;
          margin-bottom: 20px;
          &__num{
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin-right: 5px;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
        }
        &__message{
          display: flex;
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          &--left{
            color: #3CCACE;
            margin-right: 2px;
          }
          &--bottom{
            font-size: 18px;
            line-height: 1.5;
            margin-top: 16px;
          }
        }  
      }
      &__box--last{
        width: 30%;
        margin: 16px 0 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__image{
          position: relative;
          margin-bottom: 20px;
          &__num{
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin-right: 5px;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
        }
        &__message{
          display: flex;
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          &--right{
            color: #3CCACE;
            margin-left: 2px;
          }
          &--bottom{
            font-size: 18px;
            line-height: 1.5;
            margin-top: 16px;
          }
        }
      }
    }
  }
  .t__center__middle__image{
    background-size:cover;
    height: 400px;
    background-position: bottom right;
    align-items: center;background-image: url(bg-topMiddleDl-pict.jpg);
    padding: 100px;
    &__sentence{
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 ;
      h2{
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
        color: #fff;
      }
      .t__center__middle__image__sentence__box{
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
        p{
          
        }
      }
    }
    &-icon{
      display: flex;
      .t__center__middle-icon-app{
        width: 180px;
        padding: 0;
        float: left;
        #aBtn{
          :hover{opacity: 0.5;}
          .apple{
            margin-top: 25px;
            width: 100%;
            padding: 0;
            border-radius: 10px;
          }
        }
      }
      
      .t__center__middle-icon-google{
        width: 180px;
        padding: 0;
        #gBtn{
          :hover{opacity: 0.5;}
          .google{
            margin: 25px 0 0 10px;
            width: 100%;
            padding: 0;
            border-radius: 10px;
          }
        }
      }
    }
  }
  .t__center__bottom{
    padding: 60px 100px;
    background-color: #fff;
    &__title{
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      after{
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &__image{
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      &__icon{
        display: flex;
        flex-direction: column;
        width: calc(1/3 * 100%);
        text-align: center;
        padding: 0 20px;
        &--1{
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          .img1{
            width: 100%;
            vertical-align: bottom;
          }
        }
        &--2{
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          .img2{
            width: 100%;
            vertical-align: bottom;
          }
        }
        &--3{
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          .img3{
            width: 100%;
            vertical-align: bottom;
          }
        }
      }
      h3{
        margin: 38px 0 10px;
        font-size: 19px;
        font-weight: bold;
      }
      p{
        font-size: 17px;
        margin: 0 0 40px;
        font-weight: 200;
        text-align: left;
      }
    } 
  }
  .t__pickup{
    padding: 80px 0;
    background-color: #f8f8f8;
    height: 100%;
    h2{
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
      color: #333;
    }
    &__new{
      font-weight: bold;
      h3{
        color: #3CCACE;
        font-size: 24px;
        text-align: center;
        font-weight: bold;
      }
      &--item{
        width: 780px;
        margin: 26px auto 0;
        display: flex;
        justify-content: space-around;
        background-color: #3CCACE;
        &--image{
          width: 220px;
          position: relative;
          height: 150px;
          overflow: hidden;
          margin: 0;
          z-index: auto;
          .simpson{
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            z-index: auto;
            height: 150px;
          }
          .t__pickup__new__item--name{
            background-color: #fff;
            color: #333;
          }
        }
      }
    }
  }
  .t__bottom{
    background-image: url(bg-appBanner-pict.jpg);
    padding: 100px 40px;
    position: relative;
    background-size: cover;
    background-position: center;
    &__innner{
      color: #fff;
      text-align: center;
      &__title{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
        color: #fff;
      }
      &__text{
        font-size: 35px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
      }
      &__icon{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px auto 0;
        .t__bottom__innner__icon-app{
          width: 180px;
          padding: 0;
          float: left;
          #aBtn{
            :hover{opacity: 0.5;}
            .apple{
              margin-top: 25px;
              width: 100%;
              padding: 0;
              border-radius: 10px;
            }
          }
        }
        
        .t__bottom__innner__icon-google{
          width: 180px;
          padding: 0;
          #gBtn{
            :hover{opacity: 0.5;}
            .google{
              margin: 25px 0 0 10px;
              width: 100%;
              padding: 0;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
  .footer{
    padding: 60px;
    color: #fff;
    background-color: #272727;
    text-align: center;
    .contents{
      max-width: 840px;
      margin: 0 auto;
      display: flex;
      .content{
        display: flex;
        flex-direction: column;
        width: calc(1/3 * 100%);
        margin: 0 2% 0 0;
        &__title{
          margin: 0 0 20px;
          font-size: 16px;
          font-weight: bold;
          color: #fff;
          &__text{
            list-style: none;
            &__1{
              color: #fff;
              text-decoration: none;
              font-size: 12px;
              line-height: 32px;
            }
            &__1:hover{
              text-decoration: underline;
            }
          }
        }
      }
    }
    &__logo{
      max-width: 160px;
      margin: 0 auto;
      width: 100%;
      .bottom__logo{
        width: 100%;
        vertical-align: bottom;
      }
      p{
        font-size: 14px;
      }
    }
  }
  .sellBtn:hover{
    opacity: 0.5;
  }
  .sellBtn{
    width: 120px;
    background: #3CCACE;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
    &__text{
      color: #fff;
      display: block;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 5px;
    }
    .sellBtn__icon{
      width: 60px;
    }
  }
}
