* {
  box-sizing: border-box;
}
* .t__main {
  max-width: 100vw;
  width: 100%;
  height: 100%;
}
* .t__main .t__head__bar {
  width: 1100px;
  height: 110px;
  background-color: yellow;
  margin: 0 auto;
}
* .t__main .t__head__bar__box {
  width: 100%;
  height: 70px;
  background-color: white;
  padding: 15px 30px;
  display: flex;
}
* .t__main .t__head__bar__box-logo {
  width: 200px;
  height: 100%;
  float: left;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
}
* .t__main .t__head__bar__box-text-box {
  width: calc(100% - 240px);
  height: 100%;
  border: gray solid 0.5px;
  padding: 10px;
}
* .t__main .t__head__bar__box-text-box-btn {
  width: 40px;
  height: 100%;
  padding: 9px;
  background-color: #3ccace;
  float: right;
  border: gray solid 0;
  cursor: pointer;
}
* .t__main .t__head__bar__box-text-box-btn-icon {
  position: absolute;
  color: darkgray;
}
* .t__main .t__head__bar .t__head__bar__search {
  width: 100%;
  height: calc(100% - 70px);
  background-color: white;
  display: flex;
  font-size: 14px;
  padding: 0 30px;
  color: #333;
}
* .t__main .t__head__bar .t__head__bar__search__box {
  background-color: white;
  position: relative;
  display: flex;
  width: 180px;
  margin-left: 30px;
  justify-content: space-between;
}
* .t__main .t__head__bar .t__head__bar__search__box #categoryBtn {
  text-decoration: none;
  height: 20px;
  color: #333;
  width: 70px;
}
* .t__main .t__head__bar .t__head__bar__search__box #categoryBtn :hover {
  color: orange;
}
* .t__main .t__head__bar .t__head__bar__search #brandBtn {
  text-decoration: none;
  height: 20px;
  color: #333;
}
* .t__main .t__head__bar .t__head__bar__search #brandBtn :hover {
  color: orange;
}
* .t__main .t__head__bar .t__head__bar__search__select {
  width: 190px;
  display: flex;
  margin-left: auto;
  background-color: white;
  height: 100%;
}
* .t__main .t__head__bar .t__head__bar__search__select #logBtn {
  text-decoration: none;
  height: 20px;
  color: #333;
  width: 90px;
}
* .t__main .t__head__bar .t__head__bar__search__select #logBtn :hover {
  color: orange;
}
* .t__main .t__head__bar .t__head__bar__search__select #newBtn {
  text-decoration: none;
  height: 20px;
  color: #333;
  width: 100px;
  margin-left: 25px;
}
* .t__main .t__head__bar .t__head__bar__search__select #newBtn :hover {
  color: orange;
}
* .t__center {
  width: 100%;
  height: 560px;
  background-color: white;
}
* .t__center__image {
  background-image: url(/assets/bg-mainVisual-pict_pc.jpg);
  width: 100%;
  height: 560px;
  background-position: top center;
  position: relative;
  display: flex;
  padding: 0 60px;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
* .t__center__image__content {
  width: 100%;
  height: 400px;
  margin: 0 20px;
  padding-top: 130px;
}
* .t__center__image__content h2 {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  font-size: 60px;
  color: #fff;
}
* .t__center__image__content p {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  font-size: 18px;
}
* .t__center__image__content-icon {
  display: flex;
}
* .t__center__image__content-icon .t__center__image__content-icon-app {
  width: 180px;
  padding: 0;
  float: left;
}
*
  .t__center__image__content-icon
  .t__center__image__content-icon-app
  #aBtn
  :hover {
  opacity: 0.5;
}
*
  .t__center__image__content-icon
  .t__center__image__content-icon-app
  #aBtn
  .apple {
  margin-top: 25px;
  width: 100%;
  padding: 0;
  border-radius: 10px;
}
* .t__center__image__content-icon .t__center__image__content-icon-google {
  width: 180px;
  padding: 0;
}
*
  .t__center__image__content-icon
  .t__center__image__content-icon-google
  #gBtn
  :hover {
  opacity: 0.5;
}
*
  .t__center__image__content-icon
  .t__center__image__content-icon-google
  #gBtn
  .google {
  margin: 25px 0 0 10px;
  width: 100%;
  padding: 0;
  border-radius: 10px;
}
* .t__center__middle {
  padding: 60px 20px;
}
* .t__center__middle .t__center__middle__title-text {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
  color: black;
}
* .t__center__middle__content {
  text-align: center;
  display: flex;
  max-width: 1020px;
  margin: 0 auto;
}
* .t__center__middle__content__box {
  width: 30%;
  margin: 16px 5% 0 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}
* .t__center__middle__content__box__image {
  position: relative;
  margin-bottom: 20px;
}
* .t__center__middle__content__box__image__num {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4%;
  font-size: 30px;
  text-align: center;
  margin-right: 5px;
  padding: 10px 20px;
  background-color: #3ccace;
  color: #fff;
}
* .t__center__middle__content__box__message {
  display: flex;
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}
* .t__center__middle__content__box__message--left {
  color: #3ccace;
  margin-right: 2px;
}
* .t__center__middle__content__box__message--bottom {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 16px;
}
* .t__center__middle__content__box--last {
  width: 30%;
  margin: 16px 0 0 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}
* .t__center__middle__content__box--last__image {
  position: relative;
  margin-bottom: 20px;
}
* .t__center__middle__content__box--last__image__num {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4%;
  font-size: 30px;
  text-align: center;
  margin-right: 5px;
  padding: 10px 20px;
  background-color: #3ccace;
  color: #fff;
}
* .t__center__middle__content__box--last__message {
  display: flex;
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}
* .t__center__middle__content__box--last__message--right {
  color: #3ccace;
  margin-left: 2px;
}
* .t__center__middle__content__box--last__message--bottom {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 16px;
}
* .t__center__middle__image {
  background-size: cover;
  height: 400px;
  background-position: bottom right;
  align-items: center;
  background-image: url(/assets/bg-topMiddleDl-pict.jpg);
  padding: 100px;
}
* .t__center__middle__image__sentence {
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  text-align: left;
  max-width: 1040px;
  width: 100%;
  margin: 0;
}
* .t__center__middle__image__sentence h2 {
  font-size: 27px;
  font-weight: bold;
  line-height: 1.4;
  color: #fff;
}
* .t__center__middle__image__sentence .t__center__middle__image__sentence__box {
  font-size: 18px;
  margin: 20px 0 30px;
  line-height: 1.5;
}
* .t__center__middle__image-icon {
  display: flex;
}
* .t__center__middle__image-icon .t__center__middle-icon-app {
  width: 180px;
  padding: 0;
  float: left;
}
* .t__center__middle__image-icon .t__center__middle-icon-app #aBtn :hover {
  opacity: 0.5;
}
* .t__center__middle__image-icon .t__center__middle-icon-app #aBtn .apple {
  margin-top: 25px;
  width: 100%;
  padding: 0;
  border-radius: 10px;
}
* .t__center__middle__image-icon .t__center__middle-icon-google {
  width: 180px;
  padding: 0;
}
* .t__center__middle__image-icon .t__center__middle-icon-google #gBtn :hover {
  opacity: 0.5;
}
* .t__center__middle__image-icon .t__center__middle-icon-google #gBtn .google {
  margin: 25px 0 0 10px;
  width: 100%;
  padding: 0;
  border-radius: 10px;
}
* .t__center__bottom {
  padding: 60px 100px;
  background-color: #fff;
}
* .t__center__bottom__title {
  font-size: 27px;
  text-align: center;
  margin: 0 0 40px;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
}
* .t__center__bottom__title after {
  content: "";
  width: 70px;
  height: 4px;
  background-color: #3ccace;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
* .t__center__bottom__image {
  max-width: calc(1040px + 20px);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
* .t__center__bottom__image__icon {
  display: flex;
  flex-direction: column;
  width: calc(1 / 3 * 100%);
  text-align: center;
  padding: 0 20px;
}
* .t__center__bottom__image__icon--1 {
  width: 70%;
  margin: 0 auto;
  line-height: 120px;
}
* .t__center__bottom__image__icon--1 .img1 {
  width: 100%;
  vertical-align: bottom;
}
* .t__center__bottom__image__icon--2 {
  width: 70%;
  margin: 0 auto;
  line-height: 120px;
}
* .t__center__bottom__image__icon--2 .img2 {
  width: 100%;
  vertical-align: bottom;
}
* .t__center__bottom__image__icon--3 {
  width: 70%;
  margin: 0 auto;
  line-height: 120px;
}
* .t__center__bottom__image__icon--3 .img3 {
  width: 100%;
  vertical-align: bottom;
}
* .t__center__bottom__image h3 {
  margin: 38px 0 10px;
  font-size: 19px;
  font-weight: bold;
}
* .t__center__bottom__image p {
  font-size: 17px;
  margin: 0 0 40px;
  font-weight: 200;
  text-align: left;
}
* .t__pickup {
  padding: 80px 0;
  background-color: #f8f8f8;
  height: 100%;
}
* .t__pickup h2 {
  text-align: center;
  font-size: 28px;
  line-height: 1.4;
  font-weight: bold;
  color: #333;
}
* .t__pickup__new {
  font-weight: bold;
}
* .t__pickup__new h3 {
  color: #3ccace;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
* .t__pickup__new--item {
  width: 780px;
  margin: 26px auto 0;
  display: flex;
  justify-content: space-around;
  background-color: #3ccace;
}
* .t__pickup__new--item--image {
  width: 220px;
  position: relative;
  height: 150px;
  overflow: hidden;
  margin: 0;
  z-index: auto;
}
* .t__pickup__new--item--image .simpson {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: auto;
  height: 150px;
}
* .t__pickup__new--item--image .t__pickup__new__item--name {
  background-color: #fff;
  color: #333;
}
* .t__bottom {
  background-image: url(/assets/bg-appBanner-pict.jpg);
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
}
* .t__bottom__innner {
  color: #fff;
  text-align: center;
}
* .t__bottom__innner__title {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  font-size: 24px;
  font-weight: bold;
  line-height: 1.4;
  color: #fff;
}
* .t__bottom__innner__text {
  font-size: 35px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
* .t__bottom__innner__icon {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px auto 0;
}
* .t__bottom__innner__icon .t__bottom__innner__icon-app {
  width: 180px;
  padding: 0;
  float: left;
}
* .t__bottom__innner__icon .t__bottom__innner__icon-app #aBtn :hover {
  opacity: 0.5;
}
* .t__bottom__innner__icon .t__bottom__innner__icon-app #aBtn .apple {
  margin-top: 25px;
  width: 100%;
  padding: 0;
  border-radius: 10px;
}
* .t__bottom__innner__icon .t__bottom__innner__icon-google {
  width: 180px;
  padding: 0;
}
* .t__bottom__innner__icon .t__bottom__innner__icon-google #gBtn :hover {
  opacity: 0.5;
}
* .t__bottom__innner__icon .t__bottom__innner__icon-google #gBtn .google {
  margin: 25px 0 0 10px;
  width: 100%;
  padding: 0;
  border-radius: 10px;
}
* .footer {
  padding: 60px;
  color: #fff;
  background-color: #272727;
  text-align: center;
}
* .footer .contents {
  max-width: 840px;
  margin: 0 auto;
  display: flex;
}
* .footer .contents .content {
  display: flex;
  flex-direction: column;
  width: calc(1 / 3 * 100%);
  margin: 0 2% 0 0;
}
* .footer .contents .content__title {
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
* .footer .contents .content__title__text {
  list-style: none;
}
* .footer .contents .content__title__text__1 {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  line-height: 32px;
}
* .footer .contents .content__title__text__1:hover {
  text-decoration: underline;
}
* .footer__logo {
  max-width: 160px;
  margin: 0 auto;
  width: 100%;
}
* .footer__logo .bottom__logo {
  width: 100%;
  vertical-align: bottom;
}
* .footer__logo p {
  font-size: 14px;
}
* .sellBtn:hover {
  opacity: 0.5;
}
* .sellBtn {
  width: 120px;
  background: #3ccace;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}
* .sellBtn__text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}
* .sellBtn .sellBtn__icon {
  width: 60px;
}
.u_item-box_user-name {
  font-size: 22px;
  margin: 24px 0 8px;
  color: black;
}
.u_item-box_container {
  width: auto;
  overflow-x: auto;
  overflow-y: hidden;
}
.u_item-box_container_item {
  position: relative;
  background-color: #fff;
  margin: auto;
  display: block;
  float: left;
  width: 220px;
  height: 330px;
}
.u_item-box_container_item_link {
  display: block;
  color: #333;
  display: inline-block;
  text-decoration: none;
}
.u_item-box_container_item_link-box {
  width: 220px;
  height: 220px;
  margin: 0;
}
.u_item-box_container_item_link-box_image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 220px;
  height: 220px;
}
.u_item-box_container_item_link_body {
  padding: 16px;
  height: 110px;
  position: relative;
}
.u_item-box_container_item_link_body-name {
  overflow: hidden;
  position: absolute;
  font-weight: 400 !important;
  height: 3em !important;
  line-height: 1.5 !important;
  word-break: break-word !important;
  white-space: normal !important;
  font-size: 16px !important;
  color: #333 !important;
  display: inline-block;
  text-decoration: none;
}
.u_item-box_container_item_link_body_under {
  position: absolute;
  top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0 0;
}
.u_item-box_container_item_link_body_under-price {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  text-decoration: none;
  float: left;
}
.u_item-box_container_item_link_body_under-favorite {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  margin-left: 64px;
}
.u_item-box_container_item_link_body_under-favorite_icon {
  color: #ccc;
}
.u_item-box_container_item_link_body_under-favorite_number {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-decoration: none;
}
