* {
  box-sizing: border-box;
}
* .t__main {
  max-width: 100vw;
  width: 100%;
  height: 100%;
}
* .t__main .t__head__bar {
  width: 1100px;
  height: 110px;
  background-color: yellow;
  margin: 0 auto;
}
* .t__main .t__head__bar__box {
  width: 100%;
  height: 70px;
  background-color: white;
  padding: 15px 30px;
  display: flex;
}
* .t__main .t__head__bar__box-logo {
  width: 200px;
  height: 100%;
  float: left;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
}
* .t__main .t__head__bar__box-text-box {
  width: calc(100% - 240px);
  height: 100%;
  border: gray solid 0.5px;
  padding: 10px;
}
* .t__main .t__head__bar__box-text-box-btn {
  width: 40px;
  height: 100%;
  padding: 9px;
  background-color: #3ccace;
  float: right;
  border: gray solid 0;
  cursor: pointer;
}
* .t__main .t__head__bar__box-text-box-btn-icon {
  position: absolute;
  color: darkgray;
}
* .t__main .t__head__bar .t__head__bar__search {
  width: 100%;
  height: calc(100% - 70px);
  background-color: white;
  display: flex;
  font-size: 14px;
  padding: 0 30px;
  color: #333;
}
* .t__main .t__head__bar .t__head__bar__search__box {
  background-color: white;
  position: relative;
  display: flex;
  width: 180px;
  margin-left: 30px;
  justify-content: space-between;
}
* .t__main .t__head__bar .t__head__bar__search__box #categoryBtn {
  text-decoration: none;
  height: 20px;
  color: #333;
  width: 70px;
}
* .t__main .t__head__bar .t__head__bar__search__box #categoryBtn :hover {
  color: orange;
}
* .t__main .t__head__bar .t__head__bar__search #brandBtn {
  text-decoration: none;
  height: 20px;
  color: #333;
}
* .t__main .t__head__bar .t__head__bar__search #brandBtn :hover {
  color: orange;
}
* .t__main .t__head__bar .t__head__bar__search__select {
  width: 190px;
  display: flex;
  margin-left: auto;
  background-color: white;
  height: 100%;
}
* .t__main .t__head__bar .t__head__bar__search__select #logBtn {
  text-decoration: none;
  height: 20px;
  color: #333;
  width: 90px;
}
* .t__main .t__head__bar .t__head__bar__search__select #logBtn :hover {
  color: orange;
}
* .t__main .t__head__bar .t__head__bar__search__select #newBtn {
  text-decoration: none;
  height: 20px;
  color: #333;
  width: 100px;
  margin-left: 25px;
}
* .t__main .t__head__bar .t__head__bar__search__select #newBtn :hover {
  color: orange;
}
* .t__center {
  width: 100%;
  height: 560px;
  background-color: white;
}
* .t__center__image {
  background-image: url(/assets/bg-mainVisual-pict_pc.jpg);
  width: 100%;
  height: 560px;
  background-position: top center;
  position: relative;
  display: flex;
  padding: 0 60px;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}
* .t__center__image__content {
  width: 100%;
  height: 400px;
  margin: 0 20px;
  padding-top: 130px;
}
* .t__center__image__content h2 {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  font-size: 60px;
  color: #fff;
}
* .t__center__image__content p {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  font-size: 18px;
}
* .t__center__image__content .t__center__image__content-icon-google {
  width: 180px;
  padding: 0;
}
*
  .t__center__image__content
  .t__center__image__content-icon-google
  #gBtn
  .google {
  margin-top: 25px;
  width: 100%;
  padding: 0;
}
* .t__center__middle {
  padding: 60px 20px;
}
* .t__center__middle .t__center__middle__title-text {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
  color: black;
}
* .t__center__middle__content {
  text-align: center;
  display: flex;
  max-width: 1020px;
  margin: 0 auto;
}
* .t__center__middle__content__box {
  width: 30%;
  margin: 16px 5% 0 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}
* .t__center__middle__content__box__image {
  position: relative;
  margin-bottom: 20px;
}
* .t__center__middle__content__box__image__num {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4%;
  font-size: 30px;
  text-align: center;
  margin-right: 5px;
  padding: 10px 20px;
  background-color: #3ccace;
  color: #fff;
}
* .t__center__middle__content__box__message {
  display: flex;
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}
* .t__center__middle__content__box__message--left {
  color: #3ccace;
  margin-right: 2px;
}
* .t__center__middle__content__box__message--bottom {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 16px;
}
* .t__center__middle__content__box--last {
  width: 30%;
  margin: 16px 0 0 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}
* .t__center__middle__content__box--last__image {
  position: relative;
  margin-bottom: 20px;
}
* .t__center__middle__content__box--last__image__num {
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4%;
  font-size: 30px;
  text-align: center;
  margin-right: 5px;
  padding: 10px 20px;
  background-color: #3ccace;
  color: #fff;
}
* .t__center__middle__content__box--last__message {
  display: flex;
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}
* .t__center__middle__content__box--last__message--right {
  color: #3ccace;
  margin-left: 2px;
}
* .t__center__middle__content__box--last__message--bottom {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 16px;
}
