.ui__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  &__side-bar{
    background-color: #f8f8f8;
    width: 380px;
    padding-top: 47px;
    &__contents {
      height: 100%;
      width: 290px;
      background-color: #fff;
      margin-left:100px;
      &__content {
        height: 60px;
        line-height: 30px;
        width: 100%;
        padding: 10px;
        border-bottom: solid 1px #eee;
        transition: all 0.3s ease 0s;
      }
      &__content:hover {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
        transform: translateY(-0.1875em);
        
      }
    }
  }
  &__main-bar{
    height: 100%;
    width: calc(100% - 380px);
    background-color: #f8f8f8;
    padding-top: 47px;
    &__contents {
      height: 100%;
      width: 75%;
      margin: 0 auto;
      background-color: #fff;
      &__title {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        padding: 15px;
        border-bottom: solid 1px #eee;
      }
      &-flex{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5px;
        &__content {
          height: 330px;
          width: 200px;
          margin: 20px;
          border-radius: 2px;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22);
          border-top: solid 1px #5d627b;
          &__link {
            height: 100%;
            width: 100%;
            &__box {
              width: 200px;
              height: 200px;
              margin: 0;
              position: relative;
              transition: all 0.6s ease 0s;

              .ui-Image {
                width: 200px;
                height: 200px;
              }
              .ui__itemBox__body--triangle {
                position: absolute;
                top: 0;
                left: 0px;
                border-bottom: 100px solid transparent;
                border-left: 100px solid red;
              }
              .ui__itemBox__body__soldout {
                transform: rotate(-45deg);
                position: absolute;
                top: 20px;
                left: 10px;
                color: #ffffff;
                font-weight: bold;
                font-size: 20px;
              }
            }
            &__box:hover {
              transform: scale(1.1, 1.1);
            }
            &_body{
              padding: 16px;
              height: 110px;
              position: relative;
              &-name{
                overflow: hidden;
                position: absolute;
                font-weight: 400;
                height: 3em;
                line-height: 1.5;
                word-break: break-word;
                white-space: normal;
                font-size: 16px;
                color: #333;
                display: inline-block;
                text-decoration: none;
              }
              &_under{
                position: absolute;
                top: 60px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 8px 0 0;
                &-price{
                  font-size: 16px;
                  font-weight: 600;
                  color: #333;
                  text-decoration: none;
                  float: left;
                }
                &-favorite{
                  font-size: 16px;
                  font-weight: 400;
                  color: #333;
                  margin-left: 64px;
                  &_icon{
                    color: #ccc;
                  }
                  &_number{
                    font-size: 16px;
                    font-weight: 400;
                    color: #333;
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.ue__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  &__side-bar{
    background-color: #f8f8f8;
    width: 380px;
    padding-top: 47px;
    &__contents {
      height: 100%;
      width: 290px;
      background-color: #fff;
      margin-left:100px;
      &__content {
        height: 60px;
        line-height: 30px;
        width: 100%;
        padding: 10px;
        border-bottom: solid 1px #eee;
      }
      &__content:hover {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
        transform: translateY(-0.1875em);
        
      }
    }
  }
  &__main-bar {
    height: 100%;
    width: calc(100% - 380px);
    background-color: #f8f8f8;
    padding-top: 47px;
    &__contents {
      background-color: #fff;
      height: 100%;
      width: 75%;
      margin: 0 auto;
      &__title {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        padding: 15px;
        border-bottom: solid 1px #eee;
      }
      form.edit_user {
        width: 75%;
        margin: 0 auto;
        text-align: center;
      }
      &__content {
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: solid 1px #eee;
        &__image {
          background-image: url("background_mypage.jpeg");
          position: relative;
          height: 220px;
          width: 400px;
          margin: 0 auto;
          &__user {
            img.hidden {
              width: 70%;
              height: 70%;
              cursor: pointer;
              position: absolute;
              top: 30px;
              left: 60px;
              display: none;
            }
            .avatar_present_img {
              height: 170px;
              width: 170px;
              border-radius: 50%;
              position: absolute;
              top: 30px;
              left: 110px;
              cursor: pointer;
            }
            img {
              height: 170px;
              width: 170px;
              border-radius: 50%;
              position: absolute;
              top: 30px;
              left: 110px;
              cursor: pointer;
              background-position: center center;
              border: 3px solid #3ccAca;
              transition: all 0.6s ease 0s;

            }
            img:hover {
              transform: scale(1.1, 1.1);
            }
            input {
              display: none;
              cursor: pointer;
            }
          }
        }
        .content-title {
          font-size: 15px;
        }
        input {
          width: 100%;
          height: 40px;
          padding: 5px;
          border-radius: 1px;
        }
        textarea {
          width: 100%;
          height: 100px;
          padding: 5px;
          border-radius: 3px;

        }
        .update-btn {
          width: 100%;
          height: 40px;
          background-color:  #3ccAca;
          color: #eee;
          margin-bottom: 10px;
        }
        .back-btn {
          color: #3ccAca;
        }
      }
      
    }
  }
}
.ua__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  &__side-bar{
    background-color: #f8f8f8;
    width: 380px;
    padding-top: 47px;
    &__contents {
      height: 100%;
      width: 290px;
      background-color: #fff;
      margin-left:100px;
      &__content {
        height: 60px;
        line-height: 30px;
        width: 100%;
        padding: 10px;
        border-bottom: solid 1px #eee;
      }
      &__content:hover {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
        transform: translateY(-0.1875em);
        
      }
    }
  }
  &__main-bar {
    height: 100%;
    width: calc(100% - 380px);
    background-color: #f8f8f8;
    padding-top: 47px;
    &__contents {
      background-color: #fff;
      height: 100%;
      width: 75%;
      margin: 0 auto;
      &__title {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        padding: 15px;
        border-bottom: solid 1px #eee;
      }
      form.edit_address {
        width: 75%;
        margin: 0 auto;
        
      }
      &__content {
        height: 100%;
        padding-top: 10px;
        padding-bottom: 30px;
        border-bottom: solid 1px #eee;
        text-align: center;
        .select-box {
          width: 100%;
          height: 50px;
          margin-top: 10px;
          margin-left: 0px;
          padding: 5px;
        }
        &-flex {
          display: flex;
          justify-content: center;
          &__content {
            margin: 5px;
            span {
              background-color: red;
              color: #fff;
              padding: 2px;
            }
          }
        }
        .content-title {
          font-size: 15px;
          
        }
        span {
          background-color: red;
          color: #fff;
          padding: 2px;
          border-radius: 2px;
        }
        input {
          width: 100%;
          height: 40px;
          padding: 5px;
          border-radius: 1px;
        }
        .update-btn {
          width: 100%;
          height: 40px;
          background-color:  #3ccAca;
          color: #eee;
          margin-bottom: 15px;
        }
        .back-btn {
          color: #3ccAca;
          
        }
      }
      
    }
  }
}