.u_body{
  width: 100vw;
  height: 100%;
  top: 0;
  bottom: 0;
  background-color: whitesmoke;
  margin: 0;
  padding: 40px 0;
  .u_container{
    margin: 0px auto;
    width: 700px;
    height: calc(100% - 80px);
    background-color: white;
    .u_profile{
      background-image: url("background_mypage.jpeg");
      background-size: cover;
      height: 335px;
      width: 700px;
      &_box{
        padding-top: 50px;
        text-align: center;
        &_btn{
          text-decoration: none;
          &_image{
            background-size: contain;
            width: 180px;
            height: 180px;
            margin: 0 auto;
            display: inline;
          }
          &_name{
            margin: 8px 0 16px;
            font-size: 18px;
            font-weight: 400;
            color: #333;
          }
        }
        &_grade{
          padding-bottom: 30px;
          &-number{
            margin-right: 12px;
            font-size: 14px;
            font-weight: 600;
            color: #333;
          }
          &-amount{
            margin-left: 12px;
            font-size: 14px;
            font-weight: 600;
            color: #333;
          }
        }
      }
    }
    .u_detail{
      background-color: white;
      &_review-box{
        height: 50px;
        padding-top: 14px;
        width: 360px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        &_each{
          width: 100px;
          line-height: 26px;
          display: flex;
          &_good_icon{
            color: #ef5185;
            font-size: 24px;
          }
          &_good_number{
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            margin-left: 15px;
          }
          &_normal_icon{
            color: #fba933;
            font-size: 24px;
          }
          &_normal_number{
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            margin-left: 15px;
          }
          &_bad_icon{
            color: #6ab5d8;
            font-size: 24px;
          }
          &_bad_number{
            display: inline-block;
            vertical-align: middle;
            text-align: center;
            margin-left: 15px;
          }
        }
      }
      &_content{
        padding: 30px 50px 60px 50px;
        border-top: 2px solid #f5f5f5;
        line-height: 1.5;
        word-break: break-all;
        &_comment{
          font-size: 16px;
          font-weight: 400;
          color: #333;
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
        }
      }
    }
    .u_sns{
      background-color: white;
      height: 124px;
      margin: 0 auto;
      padding: 32px 0 24px;
      width: 700px;
      &-box{
        margin: 16px 0 0;
        text-align: center;
        font-size: 0;
        list-style: none;
        height: 52px;
        display: flex;
        justify-content: center;
        &_facebook{
          display: inline-block;
          margin: 0 8px 8px 0;
          vertical-align: middle;
          text-align: center;
          &_link{
            display:block;
            text-decoration: none;
            width: 44px;
            height: 44px;
            color: #385185;
            &_icon{
              display:block;
              font-size: 44px;
              border-radius: 4px;
              line-height: 44px;
            }
          }
        }
        &_twitter{
          display: inline-block;
          margin: 0 8px 8px 0;
          vertical-align: middle;
          text-align: center;
          &_link{
            display:block;
            text-decoration: none;
            width: 44px;
            height: 44px;
            color: #5d9dc9;
            &_icon{
              display:block;
              font-size: 44px;
              border-radius: 4px;
              line-height: 44px;
            }
          }
        }
        &_line{
          display: inline-block;
          margin: 0 8px 8px 0;
          vertical-align: middle;
          text-align: center;
          &_link{
            display:block;
            text-decoration: none;
            width: 44px;
            height: 44px;
            color: #00c137;
            &_icon{
              display:block;
              font-size: 44px;
              border-radius: 4px;
              line-height: 44px;
            }
          }
        }
      }
    }
    .u_item-box{
      &_user-name{
        font-size: 22px;
        margin: 24px 0 8px;
        color: black;
      }
      &_container{
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        &_item{
          height: 330px;
          width: 200px;
          margin: 10px;
          border-radius: 2px;
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.22);
          border-top: solid 1px #5d627b;
          &_link{
            height: 100%;
            width: 100%;
            &-box{
              width: 200px;
              height: 200px;
              margin: 0;
              position: relative;
              .first-Image{
                width: 200px;
                height: 200px;
                
              }
              .d-itemBox__body--triangle {
                position: absolute;
                top: 0;
                left: 0px;
                border-bottom: 100px solid transparent;
                border-left: 100px solid red;
              }
              .d-itemBox__body__soldout {
                transform: rotate(-45deg);
                position: absolute;
                top: 20px;
                left: 10px;
                color: #ffffff;
                font-weight: bold;
                font-size: 20px;
              }
            }
            &_body{
              padding: 16px;
              height: 110px;
              position: relative;
              &-name{
                overflow: hidden;
                position: absolute;
                font-weight: 400;
                height: 3em;
                line-height: 1.5;
                word-break: break-word;
                white-space: normal;
                font-size: 16px;
                color: #333;
                display: inline-block;
                text-decoration: none;
              }
              &_under{
                position: absolute;
                top: 60px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 8px 0 0;
                &-price{
                  font-size: 16px;
                  font-weight: 600;
                  color: #333;
                  text-decoration: none;
                  float: left;
                }
                &-favorite{
                  font-size: 16px;
                  font-weight: 400;
                  color: #333;
                  margin-left: 64px;
                  &_icon{
                    color: #ccc;
                  }
                  &_number{
                    font-size: 16px;
                    font-weight: 400;
                    color: #333;
                    text-decoration: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

